
    <button id="downloadBtn" (click)="generatePDF()" class="btn btn-success">Download PDF</button>
    <div class="container certificate-container"  id="certificateElement" >
      <div id="certificateElement" >
    <div id="page1" style="min-height: 100vh;">
      <p>Reference No.:  <input [(ngModel)]="birthEnglishData.referenceNo" class="form-control custom-input1">
      </p>
      
      <div class="text-center">
          <img src="assets/death-srilanka.png" alt="Sri Lanka Emblem" class="emblem">
          <h2 class="fw">SRI LANKA</h2>
          <h3 class="fw-bold">BIRTH CERTIFICATE</h3>
          <br>
      </div>
        
      <div class="row">
          <!-- Left side: District (should align with Division) -->
          <div class="col-md-6 text-start">
            <p class="district-align">District: 
              <input [(ngModel)]="birthEnglishData.district" class="form-control custom-input1">
          </p>
          </div>
          
          <!-- Right side: No. and Division (Aligned properly) -->
          <div class="col-md-6 text-start">
              <p>No.: 
                  <input [(ngModel)]="birthEnglishData.certificateNo" class="form-control custom-input1">
              </p>
              <p>Division: 
                  <input [(ngModel)]="birthEnglishData.division" class="form-control custom-input1">
              </p>
          </div>
        </div>
      
      <div class="line"></div>
      <div class="table-container">
          
        <div class="table-row">
          <div class="table-cell">1. Date and Place of Death</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.dateOfDeath" class="form-control small-input small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell" >2. Name</div>
          <div class="table-cell"><input [(ngModel)]="birthEnglishData.name" class="form-control small-input small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">3. Sex</div>
          <div class="table-cell"><input [(ngModel)]="birthEnglishData.genderEthnicity" class="form-control small-input "> </div>
        </div>
        </div>
        
        <div class="table-container1">
          <div class="table-row">
          <div class="table-cell3">4. Father</div>
        
          <div class="csk">
            <div class="table-cell1"  >Name and Surname</div>
            <div class="table-cell2" ><input [(ngModel)]="birthEnglishData.nameandsurname" class="form-control custom-input "> </div>
            </div>
          <div class="csk">
            <div class="table-cell1">Date of Birth</div>
            <div class="table-cell2"><input [(ngModel)]="birthEnglishData.dateofbirth" class="form-control custom-input "> </div>
          </div>
          <div class="csk">
            <div class="table-cell1">Place of Birth</div>
            <div class="table-cell2"><input [(ngModel)]="birthEnglishData.placeofbirth" class="form-control custom-input "> </div>
            
          </div>
          <div class="csk">
            <div class="table-cell1">Ethnicity</div>
            <div class="table-cell2"><input [(ngModel)]="birthEnglishData.ethi" class="form-control custom-input "> </div>
           
          </div>
          
            <div class="table-cell1">Rank or Profession</div>
            <div class="table-cell2"><input [(ngModel)]="birthEnglishData.rank" class="form-control custom-input "> </div>
         
        </div>
      </div>
              <!-- <div class=" table-cell2 " >Name and Surname <input [(ngModel)]="birthEnglishData.dateofbirth" class="form-control small-input" style="margin-top:5px;margin-left:110%;"></div><span class="line1"></span> -->
              <!-- <p class="table-cell2 parent-data" id="dob">Date of Birth:</p><input [(ngModel)]="birthEnglishData.dateofbirth" class="form-control small-input" style="margin-left:100px;margin-top:5px;"><span class="line1"></span>
              <p class="parent-data" id="place">Place of Birth:</p><input [(ngModel)]="birthEnglishData.placeofbirth" class="form-control small-input" style="margin-left:100px;margin-top:5px;"><span class="line1"></span>
              <p class="parent-data" id="ethi">Ethnicity:</p><input [(ngModel)]="birthEnglishData.ethi" class="form-control small-input" style="margin-left:130px;margin-top:5px;"><span class="line1"></span> 
              <p class="parent-data" id="rank">Rank or Profession:</p><input [(ngModel)]="birthEnglishData.rank" class="form-control small-input" ><span class=""></span>
           -->
      
           <div class="table-container1">
            <div class="table-row">
              <div class="table-cell3">5. Mother</div>
              <div class="csk">
                <div class="table-cell1">Name and Surname</div>
                <div class="table-cell2"><input [(ngModel)]="birthEnglishData.nameandsurname2" class="form-control custom-input "> </div>
              </div>
              <div class="csk">
                <div class="table-cell1">Date of Birth</div>
                <div class="table-cell2"><input [(ngModel)]="birthEnglishData.dateofbirth2" class="form-control custom-input "> </div>
              </div>
              <div class="csk">
                <div class="table-cell1">Place of Birth</div>
                <div class="table-cell2"><input [(ngModel)]="birthEnglishData.placeofbirth2" class="form-control custom-input "> </div>
              </div>
              <div class="csk">
                <div class="table-cell1">Ethnicity</div>
                <div class="table-cell2"><input [(ngModel)]="birthEnglishData.ethi2" class="form-control custom-input "> </div>
              </div>
             
                <div class="table-cell1">Age</div>
                <div class="table-cell2"><input [(ngModel)]="birthEnglishData.age" class="form-control custom-input "> </div>
              
            </div>
          </div>
    
          <div class="table-container">
            <div class="table-row">
              <div class="table-cell">6. Were the parents married? </div>
              <div class="table-cell full line"><input [(ngModel)]="birthEnglishData.declarantName" class="form-control small-input"> </div>
            </div>
          </div>
  
      
        <div class="table-container1">
          <div class="table-row">
            <div class="table-cell3">7. If Grandfather born in Srilanka</div>
            <div class="csk">
              <div class="table-cell1">Name and Surname</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.nameandsurname3" class="form-control custom-input "> </div>
            </div>
            <div class="csk">
              <div class="table-cell1">Year of Birth</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.dateofbirth3" class="form-control custom-input "> </div>
            </div>
              <div class="table-cell1">Place of Birth</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.placeofbirth3" class="form-control custom-input "> </div>
          </div>
        </div>
  
        <div class="table-container1">
          <div class="table-row ">
            <div class="table-cell3">8. If the father was not born in srilanaka and if great-grandfather born in srilanka</div>
            <div class="csk">
              <div class="table-cell1">Name and Surname</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.nameandsurname4" class="form-control custom-input "> </div>
            </div>
            <div class="csk">
              <div class="table-cell1">Year of Birth</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.dateofbirth4" class="form-control custom-input "> </div>
            </div>
              <div class="table-cell1">Place of Birth</div>
              <div class="table-cell2"><input [(ngModel)]="birthEnglishData.placeofbirth4" class="form-control custom-input "> </div>
          </div>
        </div>
    
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">9.Informants's Name, Surname,residence and in what capacity he gives information</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.declarantName" class="form-control small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">10.Informants Signature</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.infosign" class="form-control small-input"> </div>
        </div>
      </div>
    </div>
    <div id="page2" style="min-height: 100vh;">
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">11.Date of Registration</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.declarantSignature" class="form-control small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">12.Registar's Signature</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.registrationDate" class="form-control small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">13.Name inserted or substituted after registration</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.nameandsurname" class="form-control small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">14.Name of the person on whose<br>information particulars relating them to item 13<br>were supplied and in what capacity he or she<br> gives information</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.officerSignature" class="form-control small-input"> </div>
        </div>
        <div class="table-row">
          <div class="table-cell">15.Date of insertion or substitution and <br>District Registar's or Registar-General's<br>signature</div>
          <div class="table-cell full-line"><input [(ngModel)]="birthEnglishData.regisign" class="form-control small-input"> </div>
        </div>
      </div>
  
      <div class="text-left mt-4">
          <h5>* Annotations</h5>
          <p>I hereby certify that the above is a true copy of the birth registration on file at this office</p>
        </div>
  
        <div class="table-container">
          <div class="table-row-bottom">
            <div class="image-container" style=" margin-top:75px;">
              <img *ngIf="stampUrl" [src]="stampUrl" alt="Official Signature" class="stamp-image" style="margin-top: -24%;">
              <input type="file" (change)="onFileSelected($event, 'stamp')" accept="image/*">
            </div>
    
    
    
    
            <p>District Civil Registry Office / National Registry<br> Office</p>
            
    
    
            <div class="" style="  margin-top:-90px;text-align: right;">
              <img *ngIf="signatureUrl" [src]="signatureUrl" alt="Official Signature" class="signature-image" >
              <input style='margin-right: -50px;' type="file" (change)="onFileSelected($event, 'signature')" accept="image/*">
            
           
             <p style="margin-left:-30px;"> Deputy District Civil Status Officer / </p>
              <br>
              <p style="margin-top:-45px;margin-right:15px;">Deputy Director of the National<br></p> 
              <p style="margin-top:-22px;margin-right:90px;">Registry Office</p>
              
            </div> 
            <p class="parent-data"> Date: &nbsp; <input [(ngModel)]="birthEnglishData.issueDate" class="form-control custom-input"></p><br><br>
            <p class="parent-data"> Annotations: &nbsp; <input [(ngModel)]="birthEnglishData.annotations" class="form-control tiny-input"></p><br>
          </div>
          </div> 
    </div>
  </div>