
  <button id="downloadBtn" (click)="generatePDF()" class="btn btn-success">Download PDF</button>
  <div class="container certificate-container"  id="certificateElement" >
    <div id="certificateElement" >
  <div id="page1" style="min-height: 100vh;">
  <p>N. di Referimento:  <input [(ngModel)]="italiandata.referenceNo" class="form-control small-input">
  </p>
  
  <div class="text-center">
      <img src="assets/logo.png" alt="Sri Lanka Emblem" class="emblem">
      <h2 class="fw">SRI LANKA</h2>
      <h3 class="fw-bold">CERTIFICA TO DO MATRIMONIO</h3>
      <br>
  </div>
    
  <div class="row">
      <!-- Left side: District (should align with Division) -->
      <div class="col-md-6 text-start">
        <p class="district-align">Distretto: 
          <input type="text" [(ngModel)]="italiandata.district" class="form-control small-input" style="margin-top:20px;">
      </p>
      </div>
      
      <!-- Right side: No. and Division (Aligned properly) -->
      <div class="col-md-6 text-start">
          <p>No.: 
              <input [(ngModel)]="italiandata.certificateNo" class="form-control small-input">
          </p>
          <p>Divisone: 
            <input [(ngModel)]="italiandata.certificateNo" class="form-control small-input">
        </p>
          
      </div>
    
<div class="csk">
          <table >
            <tr>
                <th class="header"></th> <!-- Number column header -->
                <th ></th> <!-- Name column header -->
                <th>Sposo</th> 
                <th>Sposo</th>
            </tr>
            <tr>
                <td >1</td> <!-- Number for the first row -->
                <td>Name e Cognome</td>
                <td><input [(ngModel)]="italiandata.name" class="form-control border-black small-input"></td>
               <td><input [(ngModel)]="italiandata.name2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >2</td> <!-- Number for the second row -->
                <td>Eta` (in anni)</td>
                <td><input [(ngModel)]="italiandata.age" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.age2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >3</td> <!-- Number for the third row -->
                <td>Stato Civile</td>
                <td><input [(ngModel)]="italiandata.civilstatus" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.civilstatus2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >4</td> <!-- Number for the fourth row -->
                <td>Rango o Professione Etnia</td>
                <td><input [(ngModel)]="italiandata.rank" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.rank2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >5</td> <!-- Number for the fifth row -->
                <td>Residenza</td>
                <td><input [(ngModel)]="italiandata.residence" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.residence2" class="form-control border-black small-input"></td>
            </tr>
            
            <tr>
                <td >6</td> <!-- Number for the sixth row -->
                <td>Nome e Cognome del Padre</td>
                <td><input [(ngModel)]="italiandata.father" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.father2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >7</td> <!-- Number for the seventh row -->
                <td>Rango o Professione del Padre</td>
                <td><input [(ngModel)]="italiandata.rankfather" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.rankfather2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >8</td> <!-- Number for the eighth row -->
                <td>Nome e Divisone dell'Ufficiale di Stato Civile che ha rilasciato il Certificato/td>
                <td><input [(ngModel)]="italiandata.nameregi" class="form-control border-black small-input"></td>
                <td><input [(ngModel)]="italiandata.nameregi2" class="form-control border-black small-input"></td>
            </tr>
            <tr>
                <td >9</td> <!-- Number for the ninth row -->
                <td>Luogo della Celebrazione del Matrimonio</td>
                <td colspan="2"><input [(ngModel)]="italiandata.place" class="form-control border-black custom-input"></td>
            </tr>
        </table>
          
          <p ><strong><i>*Recttifica</i></strong></p>

          <p class="parent-data">Celebrato da me (o in mia presenza) il <input placeholder="Name " [(ngModel)]="italiandata.name3" class="form-control small-input"> 
            Di<input placeholder="Day " [(ngModel)]="italiandata.num" class="form-control tiny-input">
          </p>
          <br><br>
              
       
          <div class="" style="  text-align: right;margin-top:40px;">
            <img *ngIf="signatureUrl" [src]="signatureUrl" alt="Official Signature" class="signature-image" >
            <input style='margin-right: -50px;' type="file" (change)="onFileSelected($event, 'signature')" accept="image/*">
          
         
           <!-- <p style="margin-left:-30px;"> Deputy District Civil Status Officer / </p>
            <br>
            <p style="margin-top:-45px;margin-right:15px;">Deputy Director of the National<br></p> 
            <p style="margin-top:-22px;margin-right:90px;">Registry Office</p> -->
            
          </div> 
          <p style="position: relative;text-align: right;">Ufficiale di Stato Civile o Ministro di Culto</p>
          
        
          <p>Questo matrimonio e` stato celebrato tra di noi nella<br>presenza di <input placeholder="Officer Name " [(ngModel)]="italiandata.officername" class="form-control custom-input1"> </p>
          
           <!-- Witness 1 --> 
          <p class="parent-data">1. Firma del Testimone: <input placeholder="Name in Full" [(ngModel)]="italiandata.name4" class="form-control custom-input1"></p><br>
          <p class="parent-data">&nbsp;&nbsp;&nbsp; Nome completo, Rango o:<input placeholder="Rank or Profession" [(ngModel)]="italiandata.rank1" class="form-control custom-input1"></p><br>   
          <p class="parent-data">&nbsp;&nbsp;&nbsp; Professione:<input placeholder="Recidance of Witness" [(ngModel)]="italiandata.residence1" class="form-control custom-input1"></p><br><br>
             
           <!-- Witness 2 --> 
          <p class="parent-data">2. Firma del Testimone: <input placeholder="Name in Full" [(ngModel)]="italiandata.name5" class="form-control custom-input1"></p><br>
          <p class="parent-data">&nbsp;&nbsp;&nbsp; Nome completo, Rango o :<input placeholder="Rank or Profession" [(ngModel)]="italiandata.rank3" class="form-control custom-input1"></p><br>   
          <p class="parent-data">&nbsp;&nbsp;&nbsp; Professione:<input placeholder="Recidance of Witness" [(ngModel)]="italiandata.residence3" class="form-control custom-input1"></p><br><br>

          <!-- SIGN IMG  UPLOAD -->
          </div>
          </div>
          </div>
          <div id="page2" style="min-height: 100vh;">
         
        <div class="table-container">
          <div class="table-row-bottom">
            <div class="image-container" style=" margin-top:75px;">
              <img *ngIf="stampUrl" [src]="stampUrl" alt="Official Signature" class="stamp-image" style="margin-top: -24%;">
              <input type="file" (change)="onFileSelected($event, 'stamp')" accept="image/*">
            </div>
    
    
    
    
            <p>Firmato dinanzi a me </p>
            
    
    
            <div class="" style="  margin-top:-70px;text-align: right;">
              <img *ngIf="signatureUrl" [src]="signatureUrl" alt="Official Signature" class="signature-image" >
              <input style='margin-right: -50px;' type="file" (change)="onFileSelected($event, 'signature')" accept="image/*">
            
           
             <p style="margin-left:-30px;margin-right:60px;"> Ufficiale di Stato Civile o Minsitro di Culto</p>
              <br>
              <!-- <p style="margin-top:-45px;margin-right:15px;"><br></p> 
              <p style="margin-top:-22px;margin-right:90px;"></p> -->
              
            </div> 
            <!-- <p class="parent-data"> Date: &nbsp; <input [(ngModel)]="italiandata.date" class="form-control small-input"></p><br><br>
            <p class="parent-data"> Corrections: 
              <p>___
                <br>
                ___
                <br>
                ___
                <br>
                ___
                <br>
                ___
              
            </p><br> -->
    
          </div> 
    </div>
          
        
        <p>Certifico che la suddetta e` una copia conforme della Dichiarazione N <input placeholder="Statement No." [(ngModel)]="italiandata.num" class="form-control tiny-input"> 
          &nbsp; --Fornita a me
        </p><br>


         <p>ai sensi della Sezione 34, Marriage Registration Ordinance (Chapter 112) del<br>
        matrimonio celebrato <br>
        da(o in presenza di)<p style="text-align: right;margin-right:70px;position: relative;margin-top:-30px;">--ministro di culto</p>
        
         <p>Data di inserimento nel Registro di Stato Civile <br>Distrettuale</p>
           

         <p>(Da compilare solo in caso di Matrimonio celebrato da un minsitro diculto) </p>
         <p style="position: relative;text-align: right;margin-top:-40px;">--District Registrar</p>
        <p>Con la presente certifico che la suddetta e` una copia conforme della registrazione di matrimonio archiviata in questo ufficio.</p>
        
    
        <div class="table-container">
          <div class="table-row-bottom">
            <div class="image-container" style=" margin-top:75px;">
              <img *ngIf="stampUrl" [src]="stampUrl" alt="Official Signature" class="stamp-image" style="margin-top: -24%;">
              <input type="file" (change)="onFileSelected($event, 'stamp')" accept="image/*">
            </div>
    
    
    
    
            <p>Ufficiale di Stato Civile Distrettuale<br> Anagarfe Nazionale</p>
            
    
    
            <div class="" style="  margin-top:-90px;text-align: right;">
              <img *ngIf="signatureUrl" [src]="signatureUrl" alt="Official Signature" class="signature-image" >
              <input style='margin-right: -50px;' type="file" (change)="onFileSelected($event, 'signature')" accept="image/*">
            
           
             <p style="margin-left:-30px;"> Ufficiale di Stato Civile Distrettuale</p>
              <br>
              <p style="margin-top:-45px;margin-right:50px;">Aggiunto /Vice Direttore<br></p> 
              <p style="margin-top:-22px;margin-right:50px;">dell' Anagrafe Nazionale</p>
              
            </div> 
            <p class="parent-data"> Data: &nbsp; <input [(ngModel)]="italiandata.date" class="form-control small-input"></p><br><br>
            <p class="parent-data"> Rettifiche: 
              <p>___
                <br>
                ___
                <br>
                ___
                <br>
                ___
                <br>
                ___
              
            </p><br>
          </div>
          </div> 
    </div>
    </div>
    </div>