<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:white">
  <div class="container-fluid">
    
    <!-- Left Side (Project) -->
    <div class="col-2 d-flex align-items-center">
      <h1 style="margin-left:30px;">Project</h1>
    </div>

    <!-- Right Side (Navbar) -->
    <div class="col-10 d-flex justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <!-- Birth -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="birthDropdown" role="button" data-bs-toggle="dropdown">
              Birth
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/birth/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/birth/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Death -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="deathDropdown" role="button" data-bs-toggle="dropdown">
              Death
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/death/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/death/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Divorce -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="divorceDropdown" role="button" data-bs-toggle="dropdown">
              Divorce
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/divorce/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/divorce/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Garma -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="garmaDropdown" role="button" data-bs-toggle="dropdown">
              Garma
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/garma/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/garma/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Marriage -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="marriageDropdown" role="button" data-bs-toggle="dropdown">
              Marriage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/marriage/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/marriage/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Ordinary -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Ordinary" role="button" data-bs-toggle="dropdown">
              Ordinary
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/ordinary/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/ordinary/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Advance -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Advance" role="button" data-bs-toggle="dropdown">
              Advance
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/advance/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/advance/italian">Italian</a></li>
            </ul>
          </li>

          <!-- Police -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Police" role="button" data-bs-toggle="dropdown">
              Police
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/police/english">English</a></li>
              <li><a class="dropdown-item" routerLink="/police/italian">Italian</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>
